/*
    Flex Foundation Custom Styles
    Mobile First Desgin
*/

header {
    padding: .5rem 0rem;
    background-color: #241346;
}

.menu-button button {
    color: #FFF;
    transition: 0.5s;
}

.logo {
    background-image: url("../images/dartkey-logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
    height: 50px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #681087;
}

.mobile-nav {
    height: 100%;
}

.mobile-nav ul li {
    list-style: none;
}

.closebtn {
    font-size: 34px;
    padding: .2em 0;
}

button:focus {outline:0;}

.banner {
    height: 300px;
    background-image: url(../images/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    border-bottom: 3px solid #73E7D2;
    max-height: 100%;
    background-origin: content-box;
    background-position: center center;
    background-attachment: initial;
}

@media print, screen and (min-width: 40em) {
    .banner {
        height: 500px;
    }

    .page-title {
        text-align: left !important;
    }
}

@media print, screen and (min-width: 64em) {
    .banner {
        height: 600px;
    }

    .page-title {
        text-align: left !important;
    }
}

.content {
    min-height: 650px;
}

.about-text {
    padding: 2rem 0 5rem 0;
}

.about-text p {
    font-size: 20px;
    margin-top: 1em;
}

.heading {
    font-size: 50px;
    font-family: FlisonProBook;
}

.heading b {
    font-family: FilsonProBlack;
}

.dartkey-info-banner {
    width: 300px;
    height: 192px;
    background-image: url(../images/dartkey-card.png);
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 1px solid #ccc;
    border-radius: 45px;
    margin: 1rem auto 2rem auto;
}

.page-title {
    font-size: 36px;
    font-weight: bolder;
}

.callout {
    box-shadow: 0px 0px 4px 0px #ccc;
}

.callout.small {
    padding: 2em 2em 2em 2em;
}

.price-box p.price {
    font-size: 75px;
    font-weight: normal;
    margin-bottom: 0;
    color: #333;
    line-height: .5;
}

.price-box span.small {
    font-size: 45px;
    vertical-align: top;
}

.price-box span:last-child {
    font-size: 25px;
}

.small-divider {
    background-color: #1d1e1f;
    align-self: center;
    text-align: center;
}

.button.warning:hover, .button.warning:focus {
    background-color: #D4CA31;
    color: #fff;
}

.button.warning {
    background-color: #D4B92E;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}

.button.warning.icon {
    background-color: transparent;
    color: #D4B92E;
    font-size: 22px;
    border-radius: 0%;
    padding: 1rem 1rem;
}

.button.warning.icon:hover, .button.warning.icon:focus {
    background-color: transparent;
    color: #D4CA31;
}

.floating-block {
    right: 0;
}

/* Mobile Menu */

.mobile-nav ul{
    margin-top: 3em;
    margin-left: 2em;
}

.mobile-nav ul li {
    padding-bottom: 1em;
}

.mobile-nav ul li a{
    font-size: 35px;
    font-weight: bold;
    font-family: 'FlisonProBook';
}

.mobile-nav ul li a.active{
    border-left: 5px solid #FFFFFF;
    padding-left: 1em;
    margin-left: -43px;
}

.bottom-menu {
    bottom: 0;
    width: 100%;
}

.mobile-nav .bottom-menu ul{
    margin-top: 3em;
    margin-left: 2em;
}

.mobile-nav .bottom-menu ul li {
    padding-bottom: 1em;
}

.mobile-nav .bottom-menu ul li a{
    font-size: 18px;
    font-family: 'FilsonProRegular';
}

.mobile-nav .bottom-menu ul li a.active{
    border-left: 2px solid #FFFFFF;
    padding-left: 1em;
}


.mobile-nav .user-info {
    margin: 3em 1em;
    color: #FFFFFF;
}

.mobile-nav .user-info p.user-name {
    margin-bottom: 0px;
    font-size: 23px;
    font-weight: 800;
}

.mobile-nav .user-info p.user-profession {
    font-size: 12px;
    font-weight: 800;
}

/* Main Menu Styles */

.main-menu nav.upper-nav {
    margin-bottom: 0.8rem;
}

.main-menu nav .menu .is-active > a {
    font-weight: bolder;
    color: #fefefe;
    background: transparent;
}

.main-menu nav.upper-nav ul {
    margin-right: .5rem;
}

.main-menu nav.upper-nav li {
    font-size: 10px;
}

.main-menu .menu a {
    padding: 0.5rem 0.5rem 0 0;
}

.main-menu .menu span {
    padding: 0.4em 0.8em 0.4em 0.2em;
    color: #FFFFFF;
}

.main-menu .login-btn {
    padding: 0.3em 1em;
    margin-left: 1em;
}

/* Ends */



/* Ends */



/*nav ul {
    display: flex;
    color: #ffffff;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
}

nav.upper-nav {
    margin-bottom: 0.8rem;
}

nav.upper-nav ul {
    margin-right: .5rem;
}

nav.upper-nav li {
    padding: 0 0.3rem;
    font-size: 10px;
}

nav.main-nav li {
    padding: 0 0.8rem;
}

.login-btn {
    background-color: #D4B92E;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 1.3rem;
    font-weight: bold;
    font-size: 13px;
}*/



footer {
    background-color: #FFFFFF;
    color: #000;
    padding: 1rem 0 2rem 0;
}

footer p.header-title {
    font-weight: bold;
    color: #241346;
    font-size: 14px;
    margin-bottom: .5rem;
}

footer address {
    color: #818186;
}

footer ul li {
    list-style: none;
}

footer ul li a{
    color: #818186;
    text-decoration: none;
}

footer ul.social-icons {
    margin-top: 1rem;
    float: right;
}

footer ul.social-icons li {
    display: inline-flex;
}

footer ul.social-icons li a {
    background-color: #AEA4AD;
    border-radius: 100%;
    padding: .2em;
    color: #FFF;
}

footer ul.social-icons li a:hover {
    background-color: #241346;
}



